<div class="navbar-fixed">
	<nav class="nav-wrapper  red darken-4 z-depth-2" id="navigator">
		<a href="/accounts/{{ user.id }}" class="brand-logo" style="margin-left: 23px;">SentAI</a>
		<ul id="nav-demo" class="right hide-on-med-and-down">
			<!-- <li>
				<a href="index"><i class="material-icons left">home</i>Home</a>
			</li>
			<li>
				<a href="index"><i class="material-icons left">loyalty</i>About</a>
			</li>
			<li>
				<a href="index"><i class="material-icons left">phone</i>Contact</a>
			</li>
			<li>
				<a href="index"><i class="material-icons left">event</i>Events</a>
			</li> -->
			<li>
				<a href="/accounts/logout"><i class="material-icons left">power_settings_new</i></a>
			</li>
		</ul>
	</nav>
</div>